.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
  align-items: left;
  justify-content: center;
}

.main {
  width: 100%;
  max-width: 1100px;
  padding: 30px;
  text-align: center;
}

.logo {
  margin: 20px auto;
  display: block;
}

.ctas {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.primary,
.secondary {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.primary {
  background-color: #0070f3;
  color: white;
}

.secondary {
  background-color: transparent;
  border: 2px solid #0070f3;
  color: #0070f3;
}

.footer {
  margin-top: auto;
  padding: 20px;
  background-color: #222;
  color: white;
  text-align: center;
}

/* Scoped styles */
.hero h1 {
  position: relative;
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("/image.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.heroOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.heroText {
  position: relative;
  z-index: 1;
  color: white;
}

.hh1 {
  font-family: "Monomaniac One", sans-serif;
  font-weight: 400;
  font-size: 33px;
  color: #3a8e9c;
  font-weight: 500;
  margin-left: 70px;
  margin-bottom: 10px;
}
