/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  font-family: "Monomaniac One", serif;
  font-weight: 400;
  font-style: normal;
}

/* Container to Align Items */
.container {
  width: 90%;
  /* max-width: 1200px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo Styles */
.logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: #3a8e9c;
}

.logo img {
  margin-right: 15px;
}

/* Desktop Navigation Links */
.navLinks {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navLinks li {
  font-size: 1.5rem;
}

.navLinks a {
  text-decoration: none;
  color: #3a8e9c;
  font-weight: bold;
}

.navLinks a:hover {
  text-decoration: underline;
}

/* Responsive: Hide Links by Default on Small Screens */
.hamburger {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #3a8e9c;
}

/* Mobile Styles */
@media (max-width: 900px) {
  .navLinks {
    display: none;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    text-align: center;
    border-radius: 0;
  }

  .navLinks.show {
    display: flex;
  }

  .navLinks li {
    padding: 10px 0;
  }

  .navLinks a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #3a8e9c;
  }

  .navLinks a:hover {
    color: #3a8e9c;
  }

  .hamburger {
    display: block;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #3a8e9c;
  }
}
